<style>
  .example-spacer {
    flex: 1 1 auto;
  }
</style>

<main class="main">
  <div class="top">
    <div class="navbar">
      <div style="display: flex; flex-direction: row;">
        <button mat-mini-fab color="" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
		<P style="margin-left: 20px;">My App</P>
      </div>
      <div class="search-bar">
        <!-- <form class="">
            <mat-form-field class="">
              <input matInput placeholder="Ex. Pizza" type="search">
            </mat-form-field>
          </form> -->
      </div>
      <div class="buttons nav-div">
        <button mat-button>Home</button>
        <button mat-button>About</button>
        <button mat-button>Services</button>
        <button mat-button>Contact</button>
      </div>
    </div>
    <mat-drawer-container class="example-container">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        @if (showFiller) {
        <p>Welcome To My App</p>
        }
        <div>
          <nav class="navbarleft">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
		  
        </div>
      </mat-drawer>
      <p>sfdgsdfgsdfgsdfg</p>
    </mat-drawer-container>
  </div>
</main>

<router-outlet></router-outlet>
