<!-- <p>webcomponent works!</p> -->

<style>
    ui5-table ui5-table-column.table-header-text-alignment::part(column) {
        text-align: end;
    }
</style>
<ui5-table id="table-4" mode="None" (click)="ll()">
<ui5-table-row>
<ui5-table-cell>
    <span>Notebook Basic 15</span>
</ui5-table-cell>
<ui5-table-cell>
    <span>Very Best Screens</span>
</ui5-table-cell>
<ui5-table-cell style="text-align: right">
    <span>30 x 18 x 3cm</span>
</ui5-table-cell>
<ui5-table-cell style="text-align: right">
    <span style="color: #2b7c2b"><b style="padding-right: 0.125rem">4.2</b>KG</span>
</ui5-table-cell>
<ui5-table-cell style="text-align: right">
    <span><b style="padding-right: 0.125rem">956</b>EUR</span>
</ui5-table-cell>
</ui5-table-row>
<ui5-table-column slot="columns">
<span>Product</span>
</ui5-table-column>
<ui5-table-column slot="columns" min-width="800">
<span>Supplier</span>
</ui5-table-column>
<ui5-table-column slot="columns" min-width="600" popin-text="Dimensions" demand-popin class="table-header-text-alignment">
<span>Dimensions</span>
</ui5-table-column>
<ui5-table-column slot="columns" min-width="600" popin-text="Weight" demand-popin class="table-header-text-alignment">
<span>Weight</span>
</ui5-table-column>
<ui5-table-column slot="columns" class="table-header-text-alignment">
<span>Price</span>
</ui5-table-column>
</ui5-table>


<ui5-button icon="sap-icon://action" accessible-name="Button with Accessible Name">
    Button Text
</ui5-button>