<div class="cardView">
  <div class="card">
    <div class="flexItem">
      <div class="title">Today's Money</div>
      <div class="bodyContant">
        <div class="contant">
          <div class="money">$53,000</div>
          <div class="percent">+5.5%</div>
        </div>
    </div>
    </div>
    <div class="doller">
      <div>$</div>
    </div>
  </div>

  <div class="card">
    <div class="flexItem">
      <div class="title">Today's Users</div>
      <div class="bodyContant">
        <div class="contant">
          <div class="money">2,300</div>
          <div class="percent">+3%</div>
        </div>
    </div>
    </div>
    <div class="doller">
      <div>$</div>
    </div>
  </div>

  <div class="card">
    <div class="flexItem">
      <div class="title">New Clients</div>
      <div class="bodyContant">
        <div class="contant">
          <div class="money">+3,462</div>
          <div class="percent">-2%</div>
        </div>
    </div>
    </div>
    <div class="doller">
      <div>$</div>
    </div>
  </div>

  <div class="card">
    <div class="flexItem">
      <div class="title">Sales</div>
      <div class="bodyContant">
        <div class="contant">
          <div class="money">$103,430</div>
          <div class="percent">+5%</div>
        </div>
    </div>
    </div>
    <div class="doller">
      <div>$</div>
    </div>
  </div>

  <div class="card">
    <div class="flexItem">
      <div class="title">Today's Money</div>
      <div class="bodyContant">
        <div class="contant">
          <div class="money">$53,000</div>
          <div class="percent">+5.5%</div>
        </div>
    </div>
    </div>
    <div class="doller">
      <div>$</div>
    </div>
  </div>
</div>

<div class="row2 flex flex-row justify-around">
  <div class="bg-gray-100 w-2/3 m-2 rounded-lg h-52">
    <div class="flex-col">
      <p class="robotfont text-lg text-gray-600 mt-5 ml-5">Build by developers</p>
    </div> 
    <div class="flex-col">
      <p class="robotfont text-2xl font-bold text-gray-600  ml-5">Soft UI Dashboard</p>
    </div>
    <div class="flex-col">
      <p class="robotfont font-bold text-gray-600 ml-5 ">From colors, cards, typography to complex elements, you will find the full documentation.</p>
    </div>    
    
  </div>
  <div class="bg-gray-100 w-2/5 m-2 rounded-lg h-52"></div>
</div>

